.aside {
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	background-color: #273142;
	width: 56px;
	z-index: 2;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding-bottom: 14px;
	// .aside__avatar
	&__avatar {
		cursor: pointer;
	}
	// .aside__menu
	&__menu {
	}
	&__backdrop {
		z-index: -1;
		position: fixed;
		inset: 0;
		width: 100vw;
		height: 100vh;
		background-color: rgba(0, 0, 0, 0.8);
		opacity: 0;
		visibility: hidden;
		pointer-events: none;
		transition: opacity 0.2s;
		&._active {
			opacity: 1;
			visibility: visible;
			pointer-events: all;
		}
	}
	&__help {
		display: flex;
		justify-content: center;
		align-items: center;
		button {
			width: 36px;
			height: 36px;
			background: url("../img/button.svg") center center/cover no-repeat;
		}
	}
}
.menu-aside {
	// .menu-aside__list
	&__list {
		display: flex;
		flex-direction: column;
		gap: 2px;
	}
	// .menu-aside__item
	&__item {
		aspect-ratio: 1;
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
		&._notification {
			&:before {
				content: "";
				position: absolute;
				top: 10px;
				right: 10px;
				display: block;
				width: 15px;
				height: 15px;
				background: #ff3031;
				border: 2px solid #354052;
				border-radius: 50%;
			}
		}
		&:not(:last-child) {
			&:after {
				content: "";
				width: 32px;
				height: 1px;
				background: #516173;
				position: absolute;
				bottom: 0;
				margin: 0px auto;
			}
		}
		svg {
			width: 32px;
			height: 32px;
		}
		path {
			stroke: #fff;
			transition: stroke 0.2s;
		}
		button {
			width: 100%;
			height: 100%;
			@media (any-hover: hover) {
				&:hover {
					path {
						stroke: var(--secondary-color);
					}
				}
			}
		}
	}
	// .menu-aside__btn
	&__btn {
	}
}

.profile-aside {
	position: absolute;
	top: 0;
	right: 100%;
	width: 240px;
	border-radius: 8px 0px 0px 8px;
	background-color: #fff;
	padding: 12px 0 0;
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
	transition: opacity 0.2s;
	box-shadow: 0px 7px 10px rgba(27, 36, 49, 0.15), 0px 3px 13px rgba(27, 36, 49, 0.05);
	&._active {
		opacity: 1;
		visibility: visible;
		pointer-events: all;
	}
	// .profile-aside__header
	&__header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 0 16px 12px;
	}
	// .profile-aside__person
	&__person {
	}
	// .profile-aside__name
	&__name {
		font-weight: 700;
		font-size: 14px;
	}
	// .profile-aside__job
	&__job {
		font-size: 12px;
		color: #7f8fa4;
	}
	// .profile-aside__status
	&__status {
		width: 15px;
		height: 15px;
		border-radius: 50%;
		background: #10ab4f;
		border: 1px solid #dfe3e9;
		box-shadow: inset 0px 0px 0px 2px #ffffff;
	}
	// .profile-aside__timer
	&__timer {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 10px 16px;
		background-color: #eff3f6;
		.sep {
			// height: 100%;
			align-self: stretch;
			width: 1px;
			background-color: #dfe3e9;
		}
	}
	// .profile-aside__date
	&__date {
	}
	// .profile-aside__menu
	&__menu {
	}
	// .profile-aside__item
	&__item {
		padding: 10px 16px;
		transition: all 0.2s;
		@media (any-hover: hover) {
			&:hover {
				background-color: #ecf6ff;
				a,
				button {
					color: var(--secondary-color);
				}
				path {
					stroke: var(--secondary-color);
				}
			}
		}
		a,
		button {
			display: flex;
			align-items: center;
			gap: 10px;
			color: var(--text-color);
			transition: all 0.2s;
		}
		path {
			stroke: var(--text-color);
			transition: all 0.2s;
		}
	}
}
.timer-aside {
	display: flex;
	align-items: center;
	gap: 5px;
	// .timer-aside__time
	&__time {
		font-size: 18px;
		letter-spacing: 0.02em;
		color: #516173;
	}
	// .timer-aside__btn
	&__btn {
		@include rect(24, 24, 1, 0);
		background-color: var(--secondary-color);
		transition: background-color 0.2s;
		svg {
			transform: translate(1px, 0);
		}
		path {
			stroke: #fff;
		}
		@media (any-hover: hover) {
			&:hover {
				background-color: var(--secondary-hover);
			}
		}
	}
}

.aside {
	// .aside__projects
	&__projects {
	}
}
.projects-aside {
	height: 100vh;
	position: absolute;
	top: 0;
	z-index: 5;
	right: 100%;
	width: 360px;
	background-color: #fff;
	border-radius: 16px 0px 0px 16px;
	overflow: hidden;
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
	transition: all 0.2s;
	&._active {
		opacity: 1;
		visibility: visible;
		pointer-events: all;
	}
	// .projects-aside__header
	&__header {
		background-color: #eff3f6;
		padding: 20px 16px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	// .projects-aside__title
	&__title {
		font-size: 18px;
		font-weight: 500;
	}
	// .projects-aside__close
	&__close {
		font-size: 20px;
		cursor: pointer;
		path {
			fill: #516173;
		}
	}
	// .projects-aside__tabs
	&__tabs {
		z-index: 3;
		position: relative;
	}
	// .projects-aside__search
	&__search {
		padding: 16px;
		input {
			background: url("../img/icons/search.svg") center left 8px no-repeat;
			padding: 9px 9px 9px 36px;
			display: block;
			width: 100%;
			border: 1px solid #7f8fa4;
			border-radius: 4px;
			&::placeholder {
				font-size: 14px;
				color: #7f8fa4;
			}
			&:focus::placeholder {
				color: transparent;
			}
		}
	}
	// .projects-aside__date
	&__date {
		position: relative;
		width: 100%;
		span {
			background-color: #fff;
			color: #c2cad4;
			z-index: 2;
			position: relative;
			padding-right: 8px;
		}
		&::before {
			content: "";
			position: absolute;
			top: 50%;
			left: 0;
			right: 0;
			height: 1px;
			background-color: #c2cad4;
			transform: translate(0, -50%);
		}
	}
	// .projects-aside__project
	&__project {
	}
}

.tabs {
	// .tabs__links
	&__links {
		display: flex;
		gap: 20px;
		align-items: center;
		padding: 0 16px;
		background-color: #eff3f6;
		._tabs-link {
			height: 36px;
			display: flex;
			justify-content: center;
			align-items: center;
			font-weight: 500;
			font-size: 14px;
			color: #516173;
			position: relative;
			&:after {
				content: "";
				height: 2px;
				position: absolute;
				bottom: 0;
				left: 0;
				right: 0;
				background-color: var(--secondary-color);
				opacity: 0;
				visibility: hidden;
			}
			&._active {
				color: var(--text-color);
				&:after {
					opacity: 1;
					visibility: visible;
				}
			}
		}
	}
	// .tabs__contents
	&__contents {
		._tabs-content {
			z-index: 3;
			position: relative;
			overflow: auto;
			height: 100vh;
			padding: 16px 16px 200px;
		}
	}
}
.project-aside {
	padding: 16px 0;
	display: flex;
	justify-content: space-between;
	&:not(:last-child) {
		border-bottom: 1px solid #dfe3e9;
	}
	// .project-aside__about
	&__about {
	}
	// .project-aside__header
	&__header {
		display: flex;
		align-items: center;
		gap: 8px;
		font-weight: 500;
	}
	// .project-aside__icon
	&__icon {
	}
	// .project-aside__title
	&__title {
		font-size: 14px;
	}
	// .project-aside__task
	&__task {
		margin-top: 5px;
		font-size: 13px;
		position: relative;
		&:after {
			content: "";
			position: absolute;
			bottom: -2px;
			left: 0;
			right: 0;
			height: 1px;
			background-color: #c2cad4;
		}
	}
	// .project-aside__info
	&__info {
		display: flex;
		flex-direction: column;
		gap: 5px;
		align-items: flex-end;
	}
	// .project-aside__statuses
	&__statuses {
		display: flex;
		align-items: center;
		gap: 8px;
	}
	// .project-aside__priority
	&__priority {
		width: 20px;
		height: 20px;
		&._highest {
			background: url("../img/icons/priority/highest.svg") center center no-repeat;
		}
		&._medium {
			background: url("../img/icons/priority/medium.svg") center center no-repeat;
		}
	}
	// .project-aside__status
	&__status {
		padding: 2px 4px;
		border-radius: 3px;
		font-size: 13px;
		&._in-work {
			background-color: #eff6f6;
			color: var(--secondary-color);
		}
		&._in-wait {
			color: #516173;
			background-color: #e9edf1;
		}
	}
	// .project-aside__deadline
	&__deadline {
		font-size: 12px;
		color: #ff3031;
	}
}

.user-help {
	overflow: hidden;
	position: absolute;
	bottom: 0;
	right: 100%;
	width: 320px;
	background-color: #fff;
	filter: drop-shadow(0px 28px 40px rgba(27, 36, 49, 0.15)) drop-shadow(0px 11px 53px rgba(27, 36, 49, 0.05));
	border-radius: 16px;
	transition: opacity .2s;
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
	&._active{
		opacity: 1;
		visibility: visible;
		pointer-events: all;
	}
	// .user-help__header
	&__header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 20px 16px;
		background-color: #eff3f6;
	}
	// .user-help__name
	&__name {
		font-size: 18px;
		color: #273142;
	}
	// .user-help__close
	&__close {
		width: 20px;
		height: 20px;
		background: url("../img/icons/close.svg") center center no-repeat;
		cursor: pointer;
	}
	// .user-help__body
	&__body {
	}
	// .user-help__section
	&__section {
		padding: 16px;
		&:not(:last-child){
			border-bottom: 1px solid #dfe3e9;
		};
	}
	// .user-help__title
	&__title {
		font-weight: 700;
		font-size: 12px;
		letter-spacing: 0.02em;
		text-transform: uppercase;
		color: #7f8fa4;
		margin-bottom: 16px;
	}
	// .user-help__list
	&__list {
		display: flex;
		flex-direction: column;
		gap: 16px;
	}
	// .user-help__item
	&__item {
		transition: all .2s;
		display: flex;
		align-items: center;
		gap: 8px;
		cursor: pointer;
		@media (any-hover: hover) {
			&:hover {
				color: var(--secondary-color);
				path {
					fill: var(--secondary-color);
				}
				.stroke {
					path {
						stroke: var(--secondary-color);
						fill: none;
					}
				}
			}
		}
		.stroke {
			path {
				stroke: var(--text-color);
				fill: none;
			}
		}
		path {
			transition: all .2s;
			fill: var(--text-color);
		}
	}
	// .user-help__socials
	&__socials {
		padding: 16px;
		display: flex;
		align-items: center;
		gap: 8px;
		border-top: 2px solid #dfe3e9;
	}
}
