//---Шрифт по умолчанию
$fontFamily: "golos";
$fontWeight: 500;

//---РАЗМЕРЫ---===============================
// Минимальная ширина страницы
$minWidth: 320;
// Ширина полотна (макета)
$maxWidth: 1920;
// Ширина ограничивающего контейнера (0 = нет ограничения)
$maxWidthContainer: 1920;
// Отступ безопасности
$containerPadding: 30;

// Конечная ширина контейнера
$containerWidth: $maxWidthContainer + $containerPadding;