@charset "UTF-8";

/*---ШРИФТЫ---*/

@font-face {
  font-family: golos;
  font-display: swap;
  src: url("../fonts/golos-ui_bold.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: golos;
  font-display: swap;
  src: url("../fonts/golos-ui_regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: golos;
  font-display: swap;
  src: url("../fonts/golos-ui_medium.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

/*---ОБНУЛЕНИЕ---*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background-color: transparent;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a {
  color: inherit;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

[hidden] {
  display: none;
}

* img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

input[type=text],
input[type=email],
input[type=password] {
  border: 1px solid #c4c4c4;
  padding: 1rem;
}

input[type=text]:focus::-webkit-input-placeholder, input[type=email]:focus::-webkit-input-placeholder, input[type=password]:focus::-webkit-input-placeholder {
  color: transparent;
}

input[type=text]:focus::-moz-placeholder, input[type=email]:focus::-moz-placeholder, input[type=password]:focus::-moz-placeholder {
  color: transparent;
}

input[type=text]:focus:-ms-input-placeholder, input[type=email]:focus:-ms-input-placeholder, input[type=password]:focus:-ms-input-placeholder {
  color: transparent;
}

input[type=text]:focus::-ms-input-placeholder, input[type=email]:focus::-ms-input-placeholder, input[type=password]:focus::-ms-input-placeholder {
  color: transparent;
}

input[type=text]:focus::placeholder,
input[type=email]:focus::placeholder,
input[type=password]:focus::placeholder {
  color: transparent;
}

/*---CSS ПЕРЕМЕННЫЕ---*/

:root {
  --bg-color: #eff3f6;
  --text-color: #354052;
  --secondary-color: #0085f0;
  --secondary-hover: #026ec7;
}

/*---ЦВЕТОВАЯ СХЕМА И СТРАНИЦА---*/

body {
  font-family: "golos", sans-serif;
  font-weight: 500;
  -webkit-transition: background-color 0.2s, color 0.2s;
  -o-transition: background-color 0.2s, color 0.2s;
  transition: background-color 0.2s, color 0.2s;
  background-color: var(--bg-color);
  color: var(--text-color);
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 56px;
  grid-template-columns: 1fr 56px;
}

body._locked {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper > * {
  min-width: 0;
}

[class*=__container] {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

/*---ОБЩИЕ КЛАССЫ---*/

.day {
  color: var(--secondary-color);
}

/*---Табы---*/

._tabs-link {
  cursor: pointer;
}

._tabs-content {
  display: none;
}

._tabs-content._active {
  display: block;
}

/*---Header---*/

.header {
  background-color: #273142;
  padding: 8px 0;
  position: relative;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}

.header__btn {
  background-color: var(--secondary-color);
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  height: 40px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40px;
          flex: 0 0 40px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__btn path {
  stroke: #fff;
}

.header__dots {
  vertical-align: super;
  padding: 10px;
  border-radius: 3px;
  -webkit-transition: background-color 0.2s;
  -o-transition: background-color 0.2s;
  transition: background-color 0.2s;
}

.header__dots path {
  stroke: #fff;
  -webkit-transition: stroke 0.2s;
  -o-transition: stroke 0.2s;
  transition: stroke 0.2s;
}

.header__dots._active {
  background-color: #354052;
}

.header__dots._active path {
  stroke: var(--secondary-color);
}

.header__active-line {
  height: 2px;
  background-color: #354052;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.header__active-line ._line {
  height: 100%;
  background-color: var(--secondary-color);
  width: 0;
  position: absolute;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.menu__item {
  color: #fff;
  -webkit-transition: color 0.2s;
  -o-transition: color 0.2s;
  transition: color 0.2s;
  position: relative;
}

.menu__item::after {
  content: "";
  position: absolute;
  bottom: -20px;
  z-index: 1;
  left: 0;
  right: 0;
  height: 2px;
  background-color: var(--secondary-color);
  opacity: 0;
  -webkit-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.menu__item._active:after {
  opacity: 1;
}

.settings {
  position: relative;
}

.settings__menu {
  position: absolute;
  top: 120%;
  right: 0;
  padding: 8px 0 0;
  background-color: #fff;
  border: 1px solid #dfe3e9;
  z-index: 5;
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  opacity: 0;
  visibility: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -webkit-transform: translateY(-5px);
      -ms-transform: translateY(-5px);
          transform: translateY(-5px);
}

.settings__menu._active {
  opacity: 1;
  visibility: visible;
  -ms-touch-action: all;
      touch-action: all;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}

.settings__item {
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.settings__item path {
  stroke: var(--text-color);
}

.settings__item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
  padding: 10px 16px;
}

.settings__extra {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
  padding: 10px 16px;
  border-top: 1px solid #dfe3e9;
  -webkit-transition: background-color 0.2s;
  -o-transition: background-color 0.2s;
  transition: background-color 0.2s;
}

.settings__extra path {
  stroke: var(--text-color);
}

.submenu {
  padding: 20px 0;
  position: relative;
  background-color: #fff;
  border-bottom: 1px solid #dfe3e9;
}

.submenu__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.submenu__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.submenu__item {
  padding: 0 16px;
  position: relative;
}

.submenu__item:first-child {
  padding: 0 16px 0 0;
}

.submenu__item:not(:last-child):after {
  content: "";
  width: 1px;
  height: 20px;
  position: absolute;
  right: 0;
  top: 0;
  background-color: #dfe3e9;
}

.submenu__title {
  font-weight: 700;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  cursor: pointer;
}

.submenu__weather {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}

.submenu__settings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 18px;
}

.submenu .settings__btn path {
  stroke: var(--text-color);
}

.submenu .settings__btn._active {
  background-color: #dfe3e9;
}

.submenu__faq {
  cursor: pointer;
}

.submenu__faq path {
  fill: var(--text-color);
  -webkit-transition: fill 0.2s;
  -o-transition: fill 0.2s;
  transition: fill 0.2s;
}

.submenu__add .settings__btn {
  font-size: 14px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #ffffff;
  padding: 12px;
  background-color: var(--secondary-color);
  border-radius: 4px;
  -webkit-transition: background-color 0.2s;
  -o-transition: background-color 0.2s;
  transition: background-color 0.2s;
}

.submenu__add .settings__btn._active {
  background-color: var(--secondary-hover);
}

.submenu__tabs {
  position: absolute;
  top: calc(100% + 1px);
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #fff;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  -webkit-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.submenu__tabs._active {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

.submenu__tabs-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
  padding: 10px 16px;
}

.submenu__tabs-item {
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #516173;
  padding: 11px;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  border-radius: 4px;
  cursor: pointer;
}

.submenu__tabs-item._active {
  background-color: var(--secondary-color);
  color: #fff;
}

.submenu__lock {
  background: url("../img/icons/btn_lock.svg") center center no-repeat;
  width: 40px;
  height: 40px;
}

/*---Стили страницы---*/

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.aside {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: #273142;
  width: 56px;
  z-index: 2;
}

.aside__avatar {
  cursor: pointer;
}

.aside__backdrop {
  z-index: -1;
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  -webkit-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.aside__backdrop._active {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

.menu-aside__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2px;
}

.menu-aside__item {
  aspect-ratio: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.menu-aside__item._notification:before {
  content: "";
  position: absolute;
  top: 10px;
  right: 10px;
  display: block;
  width: 15px;
  height: 15px;
  background: #ff3031;
  border: 2px solid #354052;
  border-radius: 50%;
}

.menu-aside__item:not(:last-child):after {
  content: "";
  width: 32px;
  height: 1px;
  background: #516173;
  position: absolute;
  bottom: 0;
  margin: 0px auto;
}

.menu-aside__item svg {
  width: 32px;
  height: 32px;
}

.menu-aside__item path {
  stroke: #fff;
  -webkit-transition: stroke 0.2s;
  -o-transition: stroke 0.2s;
  transition: stroke 0.2s;
}

.menu-aside__item button {
  width: 100%;
  height: 100%;
}

.profile-aside {
  position: absolute;
  top: 0;
  right: 100%;
  width: 240px;
  border-radius: 8px 0px 0px 8px;
  background-color: #fff;
  padding: 12px 0 0;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  -webkit-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.profile-aside._active {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

.profile-aside__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 16px 12px;
}

.profile-aside__name {
  font-weight: 700;
  font-size: 14px;
}

.profile-aside__job {
  font-size: 12px;
  color: #7f8fa4;
}

.profile-aside__status {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #10ab4f;
  border: 1px solid #dfe3e9;
  -webkit-box-shadow: inset 0px 0px 0px 2px #ffffff;
          box-shadow: inset 0px 0px 0px 2px #ffffff;
}

.profile-aside__timer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 16px;
  background-color: #eff3f6;
}

.profile-aside__timer .sep {
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  width: 1px;
  background-color: #dfe3e9;
}

.profile-aside__item {
  padding: 10px 16px;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.profile-aside__item a,
.profile-aside__item button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  color: var(--text-color);
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.profile-aside__item path {
  stroke: var(--text-color);
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.timer-aside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
}

.timer-aside__time {
  font-size: 18px;
  letter-spacing: 0.02em;
  color: #516173;
}

.timer-aside__btn {
  height: 24px;
  width: 24px;
  border-radius: 50%;
  background-color: var(--secondary-color);
  -webkit-transition: background-color 0.2s;
  -o-transition: background-color 0.2s;
  transition: background-color 0.2s;
}

.timer-aside__btn svg {
  -webkit-transform: translate(1px, 0);
      -ms-transform: translate(1px, 0);
          transform: translate(1px, 0);
}

.timer-aside__btn path {
  stroke: #fff;
}

.projects-aside {
  height: 100vh;
  position: absolute;
  top: 0;
  z-index: 5;
  right: 100%;
  width: 360px;
  background-color: #fff;
  border-radius: 16px 0px 0px 16px;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.projects-aside._active {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

.projects-aside__header {
  background-color: #eff3f6;
  padding: 20px 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.projects-aside__title {
  font-size: 18px;
  font-weight: 500;
}

.projects-aside__close {
  font-size: 20px;
  cursor: pointer;
}

.projects-aside__close path {
  fill: #516173;
}

.projects-aside__tabs {
  z-index: 3;
  position: relative;
}

.projects-aside__search {
  padding: 16px;
}

.projects-aside__search input {
  background: url("../img/icons/search.svg") center left 8px no-repeat;
  padding: 9px 9px 9px 36px;
  display: block;
  width: 100%;
  border: 1px solid #7f8fa4;
  border-radius: 4px;
}

.projects-aside__search input::-webkit-input-placeholder {
  font-size: 14px;
  color: #7F8FA4;
}

.projects-aside__search input::-moz-placeholder {
  font-size: 14px;
  color: #7F8FA4;
}

.projects-aside__search input:-ms-input-placeholder {
  font-size: 14px;
  color: #7F8FA4;
}

.projects-aside__search input::-ms-input-placeholder {
  font-size: 14px;
  color: #7F8FA4;
}

.projects-aside__search input::placeholder {
  font-size: 14px;
  color: #7F8FA4;
}

.projects-aside__search input:focus::-webkit-input-placeholder {
  color: transparent;
}

.projects-aside__search input:focus::-moz-placeholder {
  color: transparent;
}

.projects-aside__search input:focus:-ms-input-placeholder {
  color: transparent;
}

.projects-aside__search input:focus::-ms-input-placeholder {
  color: transparent;
}

.projects-aside__search input:focus::placeholder {
  color: transparent;
}

.projects-aside__date {
  position: relative;
  width: 100%;
}

.projects-aside__date span {
  background-color: #fff;
  color: #c2cad4;
  z-index: 2;
  position: relative;
  padding-right: 8px;
}

.projects-aside__date::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  height: 1px;
  background-color: #c2cad4;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.tabs__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 16px;
  background-color: #eff3f6;
}

.tabs__links ._tabs-link {
  height: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  font-size: 14px;
  color: #516173;
  position: relative;
}

.tabs__links ._tabs-link:after {
  content: "";
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--secondary-color);
  opacity: 0;
  visibility: hidden;
}

.tabs__links ._tabs-link._active {
  color: var(--text-color);
}

.tabs__links ._tabs-link._active:after {
  opacity: 1;
  visibility: visible;
}

.tabs__contents ._tabs-content {
  z-index: 3;
  position: relative;
  overflow: auto;
  height: 100vh;
  padding: 16px 16px 200px;
}

.project-aside {
  padding: 16px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.project-aside:not(:last-child) {
  border-bottom: 1px solid #dfe3e9;
}

.project-aside__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  font-weight: 500;
}

.project-aside__title {
  font-size: 14px;
}

.project-aside__task {
  margin-top: 5px;
  font-size: 13px;
  position: relative;
}

.project-aside__task:after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  right: 0;
  height: 1px;
  background-color: #c2cad4;
}

.project-aside__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.project-aside__statuses {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}

.project-aside__priority {
  width: 20px;
  height: 20px;
}

.project-aside__priority._highest {
  background: url("../img/icons/priority/highest.svg") center center no-repeat;
}

.project-aside__priority._medium {
  background: url("../img/icons/priority/medium.svg") center center no-repeat;
}

.project-aside__status {
  padding: 2px 4px;
  border-radius: 3px;
  font-size: 13px;
}

.project-aside__status._in-work {
  background-color: #eff6f6;
  color: var(--secondary-color);
}

.project-aside__status._in-wait {
  color: #516173;
  background-color: #e9edf1;
}

.project-aside__deadline {
  font-size: 12px;
  color: #ff3031;
}

.main-section {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  -webkit-box-align: normal;
      -ms-flex-align: normal;
          align-items: normal;
  gap: 16px;
  padding: 16px;
}

.item-dashboard {
  border: 1px solid #dfe3e9;
  border-radius: 8px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 533px;
}

.item-dashboard:empty {
  border: 2px dashed #c2cad4;
  background-color: transparent;
}

.item-dashboard._blue {
  border-top: 2px solid #3a9eff;
}

.item-dashboard._red {
  border-top: 2px solid #e91e63;
}

.item-dashboard._yellow {
  border-top: 1px solid #ffb300;
}

.item-dashboard__header {
  padding: 14px 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #dfe3e9;
}

.item-dashboard__title {
  font-weight: 500;
  margin-bottom: 6px;
}

.item-dashboard__section {
  font-weight: 500;
  font-size: 14px;
  color: #516173;
}

.item-dashboard__week {
  font-size: 14px;
  font-weight: 500;
  position: relative;
}

.item-dashboard__week:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  background-color: var(--secondary-color);
}

.item-dashboard__date {
  font-size: 14px;
  font-weight: 500;
  position: relative;
}

.item-dashboard__date:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  background-color: var(--secondary-color);
}

.item-dashboard__dots {
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.item-dashboard__dots path {
  stroke: var(--text-color);
}

.item-dashboard__dots._active {
  background-color: #ecf6ff;
}

.item-dashboard__dots._active path {
  stroke: var(--secondary-color);
}

.item-dashboard__body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.item-dashboard__body img {
  height: 100%;
}

.item-dashboard__footer {
  background: -webkit-gradient(linear, left top, left bottom, from(#eff3f6), to(#dfe3e9));
  background: -o-linear-gradient(top, #eff3f6 0%, #dfe3e9 100%);
  background: linear-gradient(180deg, #eff3f6 0%, #dfe3e9 100%);
  -webkit-box-shadow: inset 0px 2px 0px #dfe3e9;
          box-shadow: inset 0px 2px 0px #dfe3e9;
  padding: 18px 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.item-dashboard__time {
  font-size: 13px;
  color: #7f8fa4;
}

.item-dashboard__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.item-dashboard__buttons button {
  width: 20px;
  height: 20px;
}

.item-dashboard__refresh {
  background: url("../img/icons/refresh.svg") center center no-repeat;
}

.item-dashboard__fullscreen {
  background: url("../img/icons/fullscreen.svg") center center no-repeat;
}

.legend {
  padding: 0 16px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
  margin-bottom: 18px;
}

.legend__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 10px;
}

.legend__icon {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 10px;
          flex: 0 0 10px;
  height: 10px;
  margin-right: 5px;
  border-radius: 50%;
  border: 1px solid #dfe3e9;
}

.item-dashboard__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  padding: 0 16px 0 0;
  border-bottom: 1px solid #dfe3e9;
}

.item-dashboard__search input {
  padding: 1rem 1rem 1rem 42px;
  background: url("../img/icons/search.svg") center left 16px no-repeat;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.item-dashboard__search input:focus::-webkit-input-placeholder {
  color: transparent;
}

.item-dashboard__search input:focus::-moz-placeholder {
  color: transparent;
}

.item-dashboard__search input:focus:-ms-input-placeholder {
  color: transparent;
}

.item-dashboard__search input:focus::-ms-input-placeholder {
  color: transparent;
}

.item-dashboard__search input:focus::placeholder {
  color: transparent;
}

.item-dashboard__search button {
  font-size: 14px;
  font-weight: 500;
  position: relative;
}

.item-dashboard__search button:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  background-color: var(--secondary-color);
}

.item-dashboard__contacts {
  padding: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
  max-height: 350px;
  overflow: auto;
  /* width */
  /* Handle */
  /* Handle on hover */
}

.item-dashboard__contacts::-webkit-scrollbar {
  width: 4px;
}

.item-dashboard__contacts::-webkit-scrollbar-thumb {
  background: var(--secondary-color);
  border-radius: 20px;
  width: 4px;
}

.item-dashboard__contacts::-webkit-scrollbar-thumb:hover {
  background: var(--secondary-hover);
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px 16px;
  border: 1px solid #dfe3e9;
}

.contact__info {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.contact__name {
  margin-bottom: 3px;
  font-size: 14px;
  font-weight: 500;
}

.contact__desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}

.contact__desc a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  font-size: 12px;
  color: #7f8fa4;
}

.contact__desc a:before {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
}

.contact__phone:before {
  background: url("../img/icons/phone.svg") center center no-repeat;
}

.contact__mail:before {
  background: url("../img/icons/mail.svg") center center no-repeat;
}

.contact__img {
  width: 32px;
  height: 32px;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(-251.25%, #3a9eff), color-stop(50%, #ecf6ff));
  background: -o-linear-gradient(bottom, #3a9eff -251.25%, #ecf6ff 50%);
  background: linear-gradient(0deg, #3a9eff -251.25%, #ecf6ff 50%);
  border-radius: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tasks-chart canvas {
  margin: 16px auto;
}

.tasks-funnel {
  width: 150px;
  height: 100%;
}

/*---Footer---*/

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    scroll-behavior: auto !important;
    -webkit-transition-duration: 0.01ms !important;
         -o-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
  }
}

@media (any-hover: hover) {
  .header__btn:hover {
    background-color: var(--secondary-hover);
  }

  .header__dots:hover {
    background-color: #354052;
  }

  .header__dots:hover path {
    stroke: var(--secondary-color);
  }

  .menu__item:hover {
    color: var(--secondary-color);
  }

  .menu__item:hover:after {
    opacity: 1;
  }

  .settings__item:hover {
    background-color: #ecf6ff;
  }

  .settings__item:hover a {
    color: var(--secondary-color);
  }

  .settings__item:hover path {
    stroke: var(--secondary-color);
  }

  .settings__extra:hover {
    background-color: #ecf6ff;
    color: var(--secondary-color);
  }

  .settings__extra:hover path {
    stroke: var(--secondary-color);
  }

  .submenu .settings__btn:hover {
    background-color: #dfe3e9;
  }

  .submenu__faq:hover path {
    fill: var(--secondary-color);
  }

  .submenu__add .settings__btn:hover {
    background-color: var(--secondary-hover);
  }

  .submenu__tabs-item:hover {
    background-color: var(--secondary-color);
    color: #fff;
  }

  .menu-aside__item button:hover path {
    stroke: var(--secondary-color);
  }

  .profile-aside__item:hover {
    background-color: #ecf6ff;
  }

  .profile-aside__item:hover a,
  .profile-aside__item:hover button {
    color: var(--secondary-color);
  }

  .profile-aside__item:hover path {
    stroke: var(--secondary-color);
  }

  .timer-aside__btn:hover {
    background-color: var(--secondary-hover);
  }

  .item-dashboard__dots:hover {
    background-color: #ecf6ff;
  }

  .item-dashboard__dots:hover path {
    stroke: var(--secondary-color);
  }
}