@charset "UTF-8";

/*---ШРИФТЫ---*/

@font-face {
  font-family: golos;
  font-display: swap;
  src: url("../fonts/golos-ui_bold.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: golos;
  font-display: swap;
  src: url("../fonts/golos-ui_regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: golos;
  font-display: swap;
  src: url("../fonts/golos-ui_medium.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

/*---ОБНУЛЕНИЕ---*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background-color: transparent;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a {
  color: inherit;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

[hidden] {
  display: none;
}

* img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

input[type=text],
input[type=email],
input[type=password] {
  border: 1px solid #c4c4c4;
  padding: 1rem;
}

input[type=text]:focus::-webkit-input-placeholder, input[type=email]:focus::-webkit-input-placeholder, input[type=password]:focus::-webkit-input-placeholder {
  color: transparent;
}

input[type=text]:focus::-moz-placeholder, input[type=email]:focus::-moz-placeholder, input[type=password]:focus::-moz-placeholder {
  color: transparent;
}

input[type=text]:focus:-ms-input-placeholder, input[type=email]:focus:-ms-input-placeholder, input[type=password]:focus:-ms-input-placeholder {
  color: transparent;
}

input[type=text]:focus::-ms-input-placeholder, input[type=email]:focus::-ms-input-placeholder, input[type=password]:focus::-ms-input-placeholder {
  color: transparent;
}

input[type=text]:focus::placeholder,
input[type=email]:focus::placeholder,
input[type=password]:focus::placeholder {
  color: transparent;
}

/*---CSS ПЕРЕМЕННЫЕ---*/

:root {
  --bg-color: #EFF3F6;
  --text-color: #354052;
  --secondary-color: #0085F0;
  --secondary-hover: #026ec7;
}

/*---ЦВЕТОВАЯ СХЕМА И СТРАНИЦА---*/

body {
  font-family: "golos", sans-serif;
  font-weight: 500;
  -webkit-transition: background-color 0.2s, color 0.2s;
  -o-transition: background-color 0.2s, color 0.2s;
  transition: background-color 0.2s, color 0.2s;
  background-color: var(--bg-color);
  color: var(--text-color);
}

body._locked {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper > * {
  min-width: 0;
}

[class*=__container] {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

/*---ОБЩИЕ КЛАССЫ---*/

/*---Header---*/

.header {
  background-color: #273142;
  padding: 8px 0;
  position: relative;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}

.header__btn {
  background-color: var(--secondary-color);
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  height: 40px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40px;
          flex: 0 0 40px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__btn path {
  stroke: #fff;
}

.header__dots {
  vertical-align: super;
  padding: 10px;
  border-radius: 3px;
  -webkit-transition: background-color 0.2s;
  -o-transition: background-color 0.2s;
  transition: background-color 0.2s;
}

.header__dots path {
  stroke: #fff;
  -webkit-transition: stroke 0.2s;
  -o-transition: stroke 0.2s;
  transition: stroke 0.2s;
}

.header__dots._active {
  background-color: #354052;
}

.header__dots._active path {
  stroke: var(--secondary-color);
}

.header__active-line {
  height: 2px;
  background-color: #354052;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.header__active-line ._line {
  height: 100%;
  background-color: var(--secondary-color);
  width: 0;
  position: absolute;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.menu__item {
  color: #fff;
  -webkit-transition: color 0.2s;
  -o-transition: color 0.2s;
  transition: color 0.2s;
  position: relative;
}

.menu__item::after {
  content: "";
  position: absolute;
  bottom: -20px;
  z-index: 2;
  left: 0;
  right: 0;
  height: 2px;
  background-color: var(--secondary-color);
  opacity: 0;
  -webkit-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.menu__item._active:after {
  opacity: 1;
}

.settings {
  position: relative;
}

.settings__menu {
  position: absolute;
  top: 120%;
  right: 0;
  padding: 8px 0 0;
  background-color: #fff;
  border: 1px solid #dfe3e9;
  z-index: 5;
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  opacity: 0;
  visibility: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -webkit-transform: translateY(-5px);
      -ms-transform: translateY(-5px);
          transform: translateY(-5px);
}

.settings__menu._active {
  opacity: 1;
  visibility: visible;
  -ms-touch-action: all;
      touch-action: all;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}

.settings__item {
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.settings__item a {
  display: block;
  padding: 10px 16px;
}

.settings__extra {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
  padding: 10px 16px;
  border-top: 1px solid #dfe3e9;
  -webkit-transition: background-color 0.2s;
  -o-transition: background-color 0.2s;
  transition: background-color 0.2s;
}

.settings__extra path {
  stroke: var(--text-color);
}

/*---Стили страницы---*/

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

/*---Footer---*/

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    scroll-behavior: auto !important;
    -webkit-transition-duration: 0.01ms !important;
         -o-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
  }
}

@media (any-hover: hover) {
  .header__btn:hover {
    background-color: var(--secondary-hover);
  }

  .header__dots:hover {
    background-color: #354052;
  }

  .header__dots:hover path {
    stroke: var(--secondary-color);
  }

  .menu__item:hover {
    color: var(--secondary-color);
  }

  .menu__item:hover:after {
    opacity: 1;
  }

  .settings__item:hover {
    background-color: #ECF6FF;
  }

  .settings__item:hover a {
    color: var(--secondary-color);
  }

  .settings__extra:hover {
    background-color: #ECF6FF;
    color: var(--secondary-color);
  }

  .settings__extra:hover path {
    stroke: var(--secondary-color);
  }
}